/* CSS for SWREACTXStudio */

/*
.swreactxstudio_block .stdLbl {
    display: inline-block;
    width: 20%;
    text-align: right;
}
.swreactxstudio_block input {
    display: inline-block;
    width: 70%;
}
*/
